<!-- <p id="notice"><%= notice %></p> -->

<div class="well col-md-10 col-md-offset-1">
  <div class="blog-title">
    <h1>  <%= @entry.title %> </h1>
    <hr>
  </div>
  <div class="blog-content">
    <p>	<%=@entry.description.html_safe %> </p>
  </div>
</div>

<div class="link">
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_entry_path(@entry) %> |
<% else %>
  <%= link_to 'Back', entries_path %>
<% end %>

</div>