<!DOCTYPE html>
<html>
<head>
  <title>Abby's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <!--  <link href='https://fonts.googleapis.com/css?family=Lato:700,400,400italic|Poiret+One' rel='stylesheet' type='text/css'> -->
 <link href='https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="prism.js"></script>
<!--   <pre><code class="language-css"></code></pre>
 -->  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

  <footer>

  </footer>
</body>
</html>
